<div class="wrapper-home" style="padding-top:200px;flex-direction: column; background-image: url(<%= image_path 'Opening2.jpg' %>); background-attachment: fixed;">
  <div style="">
    <%= image_tag 'Logowhite.png', :id => "logohome" %>
  </div>
  <section>
  <div class="col-xs-12 gal-item col-centered">
      <div class="box" id="info_restaurant_contact" style="padding-top: 10px;">
        <p style="padding: 10px;color:white;font-size: 15px;text-transform:uppercase;letter-spacing: 0.3em;">La plateforme ouvre bientôt ses portes<br>Restez informés !</p>
      </div>
  </div>
</section>
</div>
